:root {
  --green: #CCCC66;
  --darkgreen: #999966;
  --blue: #256575;
  --darkblue: #12404A;
  --lightblue: #94C5D1;
  --grey: #DDD6C8;
  --darkgrey: #9E9E9E;
  --midred:#990033;
  --middark:#3F2805;
  --midkoks:#806854;
}

html, body { height: 100%; }

.largetext{
   font-size: 1.2em;
}



body {
    background-color: var(--grey);
}

.nomargin{
    margin:0;
    padding:0;
}

#glyphright{
    float:right;
}
.minheight{
    min-height: 200px;
}

.floatright{
    margin-left: auto;
}
.containerwrapper{
    background-color: white;
    padding-top: 69px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
    min-height: 600px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.topmargin{
    margin-top:3%;
}

.noresize{
    resize:none
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.littlepadding {
   padding: 10px !important;
   margin: 10px !important;
}

.floatleft{
display:flex
}

.floatbot{
    position: absolute;
    bottom: 0;
    left: 0;
}

.piechart{
    width: 200px;
    height: 100px;
}

.chartbg{
    background-color: var(--midkoks);
    display: flex;
    justify-content: flex-start;
    border-radius:5px;
    border: 2px solid #ffffff;
}

.innerchart{
    align-self: center;
    margin-left: auto;
}

.btnmargintop{
    margin-top: 10px;
}

.radiomargin{
    margin-bottom: 15px;
}

.btnmargintop5{
    margin-top: 33px;
}
.topmargin2{
    margin-top:8%;
}

.rightparent{
    display: flex;
    flex-direction: column;           
    align-items: center;
}

#questionillu{
    background-color: white;
    min-height:50px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    padding: 20px;
}

.questionillu{
    background-color: white;
    min-height:50px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    padding: 20px;
}

#thefooter{
    position: fixed;
    bottom: 0;
    right: 30px;
}
.svarm{
    margin-top: 5px;
}

.margin-bot{
    margin-bottom: 15px;
}
.rc0{
    background-color:var(--midkoks);
    border-radius:5px;
    border: 2px solid #ffffff;
}
.rc1{
    background-color:var(--midkoks);
    border-radius:5px;
    border: 2px solid #ffffff;
    display: none;
}

.labelonbg{
    color:white;
}

.nondisplay{
    display: none;
}

.thetopmargin{
     padding-top: 69px;
}

.thetopmarginsm{
     padding-top: 33px;
}
.displaynone{
    display: none;
}

.smalltopmargin{
    margin-top: 40px;
}

.glyphmed{
    font-size: 1.6em;
}

.glyphbig{
    font-size: 4em;
}




.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0;
  margin-left: 0;
}

.maxwidth{
    max-width: 200px;
}

.namebox{
    max-width: 400px;
}

#sel,#henvender{
    max-width: 200px;
}

#questionnairename{
    max-width: 350px;
}

.t2{
    max-width: 50px;
}