:root {
  --green: #CCCC66;
  --darkgreen: #999966;
  --blue: #256575;
  --darkblue: #12404A;
  --grey: #CCCCCC;
  --darkgrey: #9E9E9E;

}

html, body { height: 100%; }

body {
    background-color: var(--grey);
}

.nomargin{
    margin:0;
    padding:0;
}

.minheight{
    min-height: 200px;
}
.containerwrapper{
    background-color: white;
    padding-top: 69px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.topmargin{
    margin-top:3%;
}

.piechart{
    width: 200px;
    height: 200px;
}

.btnmargintop{
    margin-top: 10px;
}

.topmargin2{
    margin-top:8%;
}

#questionillu{
    background-color: var(--green);
    min-height:50px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    padding: 20px;
}

#thefooter{
    position: fixed;
    bottom: 0;
}
.svarm{
    margin-top: 5px;
}
.rc0{
    background-color:var(--green);
    border-radius:5px;
    border: 2px solid #ffffff;
}
.rc1{
    background-color:var(--green);
    border-radius:5px;
    border: 2px solid #ffffff;
    display: none;
}

#q0t1,#q1t1,#q2t1,#q3t1,#q4t1{
    display: none;
}

.displaynone{
    display: none;
}

.glyphbig{
    font-size: 1.5em;
}


.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0;
  margin-left: 0;
}

.maxwidth{
    max-width: 200px;
}

.namebox{
    max-width: 400px;
}

#sel{
    max-width: 200px;
}

#quesionnairename{
    max-width: 450px;
}

.t2{
    max-width: 50px;
}