@{
    ViewData["Title"] = "Succes";
}
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
</head>
<h1 class="text-center">Besvarelse modtaget.</h1>



<script type="text/javascript">
    $(document).ready(function () {

  });
</script>












