@model List<KliPr.ViewModels.QuestionnaireListViewModel>

@{
    ViewData["Title"] = "Vælg spørgeskema";

}
<div class="thetopmargin">
    <h1 class="text-center">Vælg spørgeskema:</h1>
    <br />
    <br />
    <div class="col-md-10 col-md-offset-1 questionillu">
        <form method="post" id="postform">
            <div class="form-group">
                <div class="table-responsive largetext">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Navn</th>
                                <th>Kategori</th>
                                <th>Oprettelsesdato</th>
                                <th>Antal besvarelser</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var q in Model)
                                {
                                    var xtime = new DateTime(1970, 1, 1).AddSeconds(q.Id.Timestamp).ToString("dd/MM/yyyy");
                                    KliPr.Enum.Participant enump = (KliPr.Enum.Participant)q.participant;
                                    string stringValue = enump.ToString();
                                    <tr>
                                        <td>@q.name</td>
                                        <td>@stringValue</td>
                                        <td>@xtime</td>
                                        <td>@q.answeramount</td>
                                        <td>
                                            @{

                                                <input type="radio" value=@q.Id name="ObjectID">

                                            }

                                        </td>
                                    </tr>
                                                }
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </form>
    </div>
    <div class="text-center col-xs-12 thetopmarginsm">
        <button type="submit" class="btn btn-primary btn-lg" disabled id="okbtn" form="postform">Vis</button>
    </div>
</div>


<script type="text/javascript">
    var radios = document.querySelectorAll('input[type=radio]');

    function changeHandler(event) {
        if(atLeastOneRadio()>0)
        {
            var btn = document.getElementById("okbtn")
            btn.disabled = false;

        }
    }

    Array.prototype.forEach.call(radios, function (radio) {
        radio.addEventListener('change', changeHandler);
    });

    function atLeastOneRadio() {
        return ($('input[type=radio]:checked').size());
    }
</script>